// CHung
h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #fff !important;
  margin-bottom: 6px;
}
.non-pagination-actions-wrap,
.r1-gene-filter-wrap,
.r2-gene-filter-wrap,
.cta-wrap {
  Button {
    background: none;
    color: #036cfc;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    &:hover {
      background: none;
    }
  }
}
.ant-pagination {
  .ant-pagination-item,
  .ant-pagination-options {
    display: none;
  }
  .ant-pagination-total-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #91939a;
    margin-right: 20px;
    vertical-align: text-top;
    letter-spacing: 1px;
  }
  .ant-pagination-prev .ant-pagination-item-link,
  .ant-pagination-next .ant-pagination-item-link {
    background-color: #fff0;
    border-color: #fff0;
    color: #036cfc;
    font-size: 13px;
  }
}
.FormSection {
  .FormSection-header-wrap {
    border-bottom: 1px solid #3a3f50;
    margin-bottom: 6px;
    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 120%;
      color: #fff;
      margin-bottom: 6px;
    }
  }
}
.input-wrap {
  input {
    padding: 10px 15px;
    background: #282b39;
    border: 1px solid #3a3f50;
    border-radius: 5px;
    min-width: 200px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
  }
  span {
    margin-left: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #91939a;
  }
}

.HomePage {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  .Header {
    margin-bottom: 10px;
    background: #242735;
    padding: 10px;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo-wrap {
        display: flex;
        // align-items: center;
        svg {
          height: 24px;
          margin-right: 10px;
        }
        h1 {
          color: #fff;
          font-weight: 700;
          font-size: 18px;
        }
      }
      .rhs-wrap {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-gap: 30px;
        gap: 30px;
        .premium-wrap {
          Button {
            background: none;
            color: #036cfc;
            padding: 0;
            font-weight: 700;
            font-size: 16px;
            outline: none;
            border: none;
            cursor: pointer;
          }
        }
        .discord-wrap {
          height: 24px;
          a {
            svg {
              height: 24px;
            }
          }
        }
      }
    }
  }

  // BOdy
  .FilterForm {
    .AllPriceForm {
      margin-bottom: 30px;
      .FormSection {
        .FormSection-header-wrap {
          border-bottom: 1px solid #3a3f50;
          margin-bottom: 6px;
          h2 {
            font-weight: 700;
            font-size: 18px;
            line-height: 120%;
            color: #fff;
            margin-bottom: 6px;
          }
        }
        .FormSection-body-wrap {
          .container {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 20px;
            gap: 20px;
            .MinimumSalePrice {
              max-width: 300px;
              h2 {
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #fff;
                margin-bottom: 6px;
              }
              .input-wrap {
                input {
                  min-width: unset;
                  width: 150px;
                  span {
                    margin-left: 15px;
                    font-weight: 400;
                    font-size: 16px;
                    color: #91939a;
                  }
                }
              }
            }
            .MaximumSalePrice {
              max-width: 300px;
              h2 {
                font-weight: 700;
                font-size: 16px;
                line-height: 16px;
                color: #fff;
                margin-bottom: 6px;
              }
              .input-wrap {
                input {
                  min-width: unset;
                  width: 150px;
                  span {
                    margin-left: 15px;
                    font-weight: 400;
                    font-size: 16px;
                    color: #91939a;
                  }
                }
              }
            }
          }
        }
      }
    }
    .BreedAndClassForm {
      .FormSection {
        .FormSection-body-wrap {
          .MaximumBreedCount {
            margin-bottom: 30px;
          }
          .AxieClassesForm {
            margin-bottom: 30px;
            .input-wrap {
              ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                li {
                  margin-right: 10px;
                  margin-bottom: 10px;
                  border: none;
                  font-family: "Nunito";
                  label {
                    display: flex;
                    padding: 8px 15px;
                    // align-items: center;
                    background: #282b39;
                    border: 1px solid #3a3f50;
                    border-radius: 5px;
                    cursor: pointer;
                    input {
                      background-color: initial;
                      cursor: default;
                      appearance: auto;
                      box-sizing: border-box;
                      min-width: auto;
                      margin-right: 15px;
                    }
                    span {
                      margin-left: 0;
                      font-weight: 400;
                      font-size: 16px;
                      color: #91939a;
                      line-height: 16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .AllAxieStatsForm {
      margin-bottom: 30px;
      .FormSection {
        .FormSection-body-wrap {
          .container {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 30px;
            gap: 30px;
            .input-wrap {
              input {
                min-width: unset;
                width: 100px;
              }
            }
            .MinimumHp {
              max-width: 300px;
            }
            .MinimumSpeed {
              max-width: 300px;
            }
            .MinimumSkill {
              max-width: 300px;
            }
            .MinimumMorale {
              max-width: 300px;
            }
          }
        }
      }
    }
    .AllCardStatsForm {
      margin-bottom: 30px;
      .FormSection {
        .FormSection-body-wrap {
          .container {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 30px;
            gap: 30px;
            .input-wrap {
              input {
                min-width: unset;
                width: 100px;
              }
            }
            .MinimumAttack {
              max-width: 300px;
            }
            .MinimumDefence {
              max-width: 300px;
            }
          }
        }
      }
    }
    .AllPurityForm {
      margin-bottom: 30px;
      .FormSection {
        .FormSection-body-wrap {
          .container {
            display: flex;
            flex-wrap: wrap;
            grid-gap: 30px;
            gap: 30px;
            .input-wrap {
              input {
                min-width: unset;
                width: 120px;
              }
            }
            .MinimumAttack {
              max-width: 300px;
            }
            .MinimumDefence {
              max-width: 300px;
            }
          }
        }
      }
    }
    .FormSection {
      .FormSection-body-wrap {
        .AllGenesInput {
          margin-bottom: 30px;
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #91939a;
            margin-bottom: 10px;
          }
          .GeneSelectInput {
            max-width: 500px;
            position: relative;
            .search-input-container {
              .GeneSelectSearchInput {
                margin-bottom: 5px;
                .input-wrap {
                  display: inline-flex;
                  padding: 6px 15px;
                  background: #282b39;
                  border: 1px solid #3a3f50;
                  border-radius: 20px;
                  align-items: center;
                  svg {
                    height: 20px;
                    margin-right: 10px;
                  }
                  input {
                    background: none;
                    color: #fff;
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 400;
                    outline: none;
                    border: none;
                    min-width: 200px;
                    padding: 0;
                  }
                }
              }
            }
            .search-results-container {
              .search-results-wrap {
                .GeneSearchResults {
                  display: flex;
                  flex-direction: column;
                  .GeneSearchResult {
                    margin-bottom: 2px;
                    flex-grow: 1;
                    padding: 15px;
                    background: #282b39;
                    border: 1px solid #3a3f50;
                    border-radius: 5px;
                    cursor: pointer;

                    .container {
                      display: grid;
                      grid-template-columns: [left] 1fr [right] auto;
                      grid-template-rows: [top] auto [bottom] auto;
                      grid-template-areas:
                        "name partid"
                        "class specialgenes";
                      grid-row-gap: 6px;
                      row-gap: 6px;
                      grid-column-gap: 30px;
                      column-gap: 30px;
                      p {
                        padding: 0;
                        margin: 0;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 16px;
                        color: #7c86db;
                      }
                      h2 {
                        grid-area: name;
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        padding: 0;
                        margin: 0;
                      }
                      .axie-class {
                        grid-area: class;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 16px;
                        color: #7c86db;
                      }
                      .axie-part-id {
                        grid-area: partid;
                        font-family: Roboto Mono;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 13px;
                        color: #91939a;
                        align-content: baseline;
                        text-align: right;
                      }
                      .axie-special-gene {
                        color: #db7c7c;
                      }
                    }
                  }
                }
                .GeneSearchResultsOptions {
                  .non-pagination-actions-wrap {
                  }
                  .paginated-results-wrap {
                    .clear-results-cta {
                    }
                    .pagination {
                      display: flex;
                      align-items: center;
                      .results-description {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        color: #91939a;
                        margin-right: 20px;
                      }
                      .pagination-options {
                        display: flex;
                        cursor: pointer;
                        svg {
                          height: 20px;
                          margin-left: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .other-filters-desc {
            }

            .r2-gene-filter-wrap {
            }
          }
        }
      }
    }
    .btn-remove {
      color: #7334d5;
    }
    .r-gene-filter-wrap-true {
      margin: 30px 0;
      .r1-gene-filter-wrap-wrap {
        .GeneSelectInput {
          max-width: 500px;
          position: relative;
        }
      }
    }
    .footer-message {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #91939a;
      margin: 20px 0 10px;
    }
    .cta-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
      Button {
        display: flex;
        align-items: center;
        background: #036cfc;
        padding: 10px 15px;
        color: #fff;
      }
      Button:first-child {
        background: none;
        color: #91939a;
      }
    }
    .ErrorMessagesWrap {
    }
  }
}
